# 🛠 محیط مجازی پایتون (venv)
venv/
__pycache__/

# 🗂 فایل‌های دیتابیس لوکال
*.sqlite3
*.db

# 🔥 فایل‌های لاگ و موقت
*.log
logs/
*.tmp

# ⚙️ تنظیمات مخصوص IDE (PyCharm, VS Code)
.vscode/
.idea/

# 🍏 فایل‌های سیستمی مک
.DS_Store
